.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: purple;
  color: whitesmoke;
  padding:12px 0px;
}

.titledetails {
  display: flex;
  align-items: center;
}

.titledetails h1 {
  font-size: 48px;
  padding: 10px 20px;
  font-weight: 400;
  position: relative;

}

.titledetails h1 span i {
  font-size: 24px;
  position: absolute;
  top: 15;
  right: 0;
}

.detail {
  padding-left: 20px;
}

.detail h2,
.detail p {
  text-align: left;
  font-weight: 300;
}
.detail h2 {
  font-size: 24px;
}
.detail p {
  font-size: 14px;
}

.navtime {
  padding: 10px 20px;
}
